<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-collapse">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <% if (title === "Home" || title === "/") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house-user"></i> Home</a>
        </li>

        <% if (title === "About Me") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/aboutme"><i class="fa-solid fa-person-through-window"></i> About Me</a>
        </li>

        <% if (title === "Services") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/services"><i class="fa-regular fa-gears"></i> Services</a>
        </li>

        <% if (title === "Education") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/education"><i class="fa-light fa-user-graduate"></i> Education</a>
        </li>

        <% if (title === "Projects") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/projects"><i class="fa-solid fa-hammer"></i> Projects</a>
        </li>

        <% if (title === "Contact") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/contact"><i class="fas fa-phone-alt"> </i> Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
