<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
  <!--Main Navigation-->
<!-- about section starts -->
<section class="about" id="about">
  <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>
  
  <div class="row">

  <div class="image">
      <img draggable="false" class="tilt" src="./Assets/images/me.jpg" width="40" height="40" alt="Profile Picture">
  </div>
  <div class="content">
      <h3>I'm Aileen Shield</h3>
      <span class="tag">Software Engineer</span>
      
      <p>I am a Software Engineering Technology student from Centennial College.
        I am still learning how to program and develop applications & websites.
     </p>
      
      <!--<div class="box-container">
          <div class="box">
            <p><span> xx</span> 38</p>
            <p><span> xxx : </span> 6478978408</p>
          </div>
          <div class="box">
            <p><span> xxxx : </span> shieldsalcedo@yahoo.com</p>
            <p><span> xxxxx : </span> Scarborough, ON Canada </p>
          </div>
      </div>

      
      <div class="resumebtn">
          <a href="" target="_blank" class="btn"><span>Resume</span>
              <i class="fas fa-chevron-right"></i>
          </a>
      </div>
          -->

  </div>
  </div>
</section>
<!-- about section ends -->

  <!--Script section -->
  <%- include ('partials/bottom_nav.ejs') %>

  <%- include ('partials/footer.ejs') %>