<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
  <!--Main Navigation-->

  <!-- education section starts -->
<section class="education" id="education">

  <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>

    <p class="qoute">Education...</p>

    <div class="box-container">

    <div class="box">
        <div class="image">
        <img draggable="false" src="./assets/images/college.jpg" alt="Saint Louis University">
        </div>
        <div class="content">
        <h3>Bachelor of Electronics and Communications Engineering</h3>
        <p>Saint Louis University | Philippines</p>
        <h4>2001-2006 | Graduated</h4>
        </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="./assets/images/college2.jpg" alt="Centennial College">
      </div>
      <div class="content">
      <h3>Diploma in Software Engineering Technology</h3>
      <p>Centennial College | Scarborough, Ontario</p>
      <h4>2023-2024 | Attending</h4>
      </div>
  </div>

</div>
</section>
<!-- education section ends -->

  <!--Script section -->
  <%- include ('partials/bottom_nav.ejs') %>

  <%- include ('partials/footer.ejs') %>