<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

  <!-- hero section starts -->
<section class="home" id="home">
  <div id="particles-js"></div>
  <div class="content">
  <h2>Hi There,<br/> I'm Aileen <span>Salcedo</span></h2>
  <p>i am into <span class="typing-text"></span></p>

      <div class="box">
        <div class="video-container">
            <iframe width="560" height="315" src="https://app.heygen.com/embeds/254447b5ea044bd98becfea4ed4d0c73" title="HeyGen video player" frameborder="0" allow="encrypted-media; fullscreen;" allowfullscreen></iframe>
        </div>
    </div>

  <a href="about" class="btn"><span>About Me</span>
    <i class="fas fa-arrow-circle-down"></i>
  </a>
  <div class="socials">
      <ul class="social-icons">
        <li><a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/aileenshieldsalcedo/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></li> 
      </ul>
    </div>
  </div>
<div class="image">
  <img draggable="false" class="tilt" src="/Assets/images/favicon.jpg" alt="Favicon">
</div>
</section>
<!-- hero section ends -->

  <!--Script section -->

  <script src="https://unpkg.com/ityped@0.0.10"></script>
      <script>
            window.ityped.init(document.querySelector('.typing-text'),{
                strings: ["frontend development", "backend development", "web designing", "web development", "telephony", "enterprise call recording", "program management", "service delivery"],
                loop: true,
                typeSpeed: 50,
                backSpeed: 25,
                backDelay: 500,
            })
        </script>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>