<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
  <!--Mian Navigation-->
 
<!-- work project section starts -->
<section class="project" id="project">

  <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>
   <div class="container">
    <div class="row" id="projectContainer">

      <div class="bar">
        <div class="info">
          <a href="#" target="_blank"><img src="./assets/images/portfolio.png" alt="My Portfolio"/>
          </a><span>Personal Portfolio</span>
        </div>
      </div> 
        <div class="bar">
            <div class="info">
              <a href="#" target="_blank"><img src="./assets/images/webchat.png" alt="Chat App"/>
              </a><span>Web Chat</span>
            </div>
        </div> 
        <div class="bar">
          <div class="info">
            <a href="http://studentweb.cencol.ca/skc14/Term%20Project/htmlpages/currentShowings.html" target="_blank"><img src="../assets/images/theater.png" alt="Theater Website"/>
            </a><span>Movie Theater Website</span>
          </div>
    </div> 
  </div>
  
</section>

  <!--Script section -->
  <%- include ('partials/bottom_nav.ejs') %>

  <%- include ('partials/footer.ejs') %>