<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Mian Navigation-->
 
  <!-- skills section starts -->
<section class="skills" id="skills">

  <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span></h2>

  <div class="container">
        <div class="row" id="skillsContainer">

          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/adobe-xd.png"/>
              <span>AdobeXD</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/html-5--v1.png"/>
              <span>HTML5</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/css3.png"/>
              <span>CSS</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/javascript--v1.png"/>
              <span>JavaScript</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/nodejs.png"/>
              <span>nodeJS</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/48/000000/external-react-a-javascript-library-for-building-user-interfaces-logo-color-tal-revivo.png"/>
              <span>ReactJS</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/fluency/48/000000/node-js.png"/>
              <span>ExpressJS</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/mongodb.png"/>
              <span>MongoDB</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/mysql-logo.png"/>
              <span>MySQL</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/python--v1.png"/>
              <span>Python</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png"/>
              <span>Java</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/48/000000/external-netlify-a-cloud-computing-company-that-offers-hosting-and-serverless-backend-services-for-static-websites-logo-shadow-tal-revivo.png"/>
              <span>Netlify</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png"/>
              <span>C++</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/ios-filled/48/1169ae/jquery.png"/>
              <span>jquery</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/glyph-neue/48/ffffff/github.png"/>
              <span>GitHub</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/sass.png"/>
              <span>Sass</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/bootstrap.png"/>
              <span>Bootstrap</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/48px-Tailwind_CSS_Logo.png"/>
              <span>TailwindCSS</span>
            </div>
          </div>

    </div>
</div>
</section>
<!-- skills section ends -->

  <!--Script section -->
  <%-include partials/bottom_nav.ejs%>
 <%-include partials/footer.ejs%>